<!DOCTYPE html>
<html lang="en">
    <head>
	    <script src="/ui/jquery.js"></script>
	    <script src="/ui/chai.js"></script>
	    <script src="/ui/mocha.js"></script>
	    <script src="/lib/q/q.js"></script>
	    <script src="/ui/require.js"></script>
	    <script src="/ui/app.js"></script>
		<link rel="stylesheet" href="/ui/mocha.css">
		<link rel="stylesheet" href="/ui/style.css">
    </head>
    <body>
    	{{{body}}}
    </body>
</html>