<div id="actions">
	<ul>
		<li><button class="link-rerun">Re-Run</button></li>
	</ul>
</div>
<div id="docs">{{{docs}}}</div>

<div id="mocha"></div>

<link rel="stylesheet" href="/ui/test-style.css">

<script>

window.__TestHarnessReady.then(function() {

	mocha.setup('tdd');
	window.ASSERT = chai.assert;

	mocha.setup({
		ignoreLeaks: true
	});

	requirejs([
		{{#each tests}}
			"{{id}}"{{#if more}},{{/if}}
		{{/each}}
	], function() {

		mocha.run();

	});
});

</script>

<div class="view view-callcontrol">

    <table class="flow">
        <tr>
            <th>Alice</th>
            <td rowspan="4" class="internet"></td>
            <th>Bob</th>
        </tr>
        <tr>
            <td class="video">
                <div>
                    <video id="alice_localVideo" class="local" autoplay="autoplay" muted="true"></video>
                    <video id="alice_remoteVideo" class="remote" autoplay="autoplay"></video>
                </div>
            </td>
            <td class="video">
                <div>
                    <video id="bob_localVideo" class="local" autoplay="autoplay" muted="true"></video>
                    <video id="bob_remoteVideo" class="remote" autoplay="autoplay"></video>
                </div>
            </td>
        </tr>
    </table>

</div>
